@namespace DComponent
@typeparam TItem

@if (_Data == null || _Data.Count == 0)
{
    <div>加载中...</div>
}
else
{
<div class="w-100 h-100" id="@Id">
    <ul class="Dtree list-group">
        @foreach (var node in _Data)
        {
            <li class="list-group-item @(node.isSelected?"selected":"")" @onclick="@(e=> { if (SelectMode == SelectMode.S)
                                                                                           {
                                                                                               node.isSelected = !node.isSelected;
                                                                                               if (node.isSelected)
                                                                                               {
                                                                                                   foreach (var oNode in _Data.Where(p=>p!=node).ToList())
                                                                                                       oNode.isSelected = false;
                                                                                               }
                                                                                               SingleSelectedData = (TItem)node.tag;
                                                                                               if (SingleSelectedDataChanged.HasDelegate)
                                                                                                   SingleSelectedDataChanged.InvokeAsync((TItem)node.tag);
                                                                                           }
                                                                                       })">
                @if (SelectMode == SelectMode.M)
                {
                    <input style="width:13px;" type="checkbox" checked="@node.isSelected" @onchange="@(e => {
                                                                                                           var checkValue = (bool)e.Value;
                                                                                                           node.isSelected = checkValue;
                                                                                                           if (checkValue)
                                                                                                               SelectedData.Add((TItem)node.tag);
                                                                                                           else
                                                                                                               SelectedData.Remove((TItem)node.tag);
                                                                                                           if (SelectedDataChanged.HasDelegate)
                                                                                                               SelectedDataChanged.InvokeAsync(SelectedData);
                                                                                                       })" />
                }
                <a>
                    @if (ChildContent != null)
                    {
                        @ChildContent(node.tag)
                    }
                    else
                    {
                        @node.text
                    }
                </a>

            </li>
        }

    </ul>
</div>
    
}
