@page "/"
@using DComponentDemo.Data
@using DComponentDemo.Model
@inject WeatherForecastService ForecastService





<DPanel Style="margin-top:10px;">
    <HeaderContent>DTree组件</HeaderContent>
    <BodyContent>
        
    </BodyContent>
</DPanel>

<DPanel Style="margin-top:10px;height:600px;">
    <HeaderContent>DLayout组件</HeaderContent>
    <BodyContent>
        <DLayout>
            <DLayoutUp Height="100">
                <span>测试up</span>
            </DLayoutUp>
            <DLayoutLeft Header="测试left" WidthP="20">
                <DLayout>
                    <DLayoutCenter Header="layout嵌套测试center">
                        <DLookupEdit Data="@_Org" DisplayField="@nameof(SysOrg.OrgName)" ValueField="@nameof(SysOrg.OrgId)"></DLookupEdit>
                    </DLayoutCenter>
                </DLayout>
            </DLayoutLeft>
            <DLayoutCenter Header="测试center">
                <DTable Data="@_user" SelectMode="@SelectMode.M"
                        ShowGroup="true"
                        ShowRowDetail="true"
                        AllowEdit="true"
                        FirstExpandAllGroup="true">
                    <ColumnContext>
                        <DTableTextColumn FieldName="@nameof(SysUser.UserId)" Caption="编号" EditMode="@FieldEditMode.ReadOnly" FooterMark="合计：{0}" FooterStateType="@ColumnStateType.S"></DTableTextColumn>
                        <DTableTextColumn FieldName="@nameof(SysUser.LoginId)" Caption="账号" FooterMark="记录总数：{0}"></DTableTextColumn>
                        <DTableTextColumn FieldName="@nameof(SysUser.UserName)" Caption="名称" IsGroup="true" GroupMark="分组记录数：{0}"></DTableTextColumn>
                        <DTableDateTimeColumn FieldName="@nameof(SysUser.CreateDate)" Caption="创建时间"></DTableDateTimeColumn>
                        <DTableCustomColumn FieldName="@nameof(SysUser.IsOnline)" Caption="在线？">
                            <CustomContext>
                                <button class="toolbarBtn btn btn-link " name="编辑" title="编辑">
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                                @((context as SysUser).UserName)
                            </CustomContext>
                        </DTableCustomColumn>
                        <DTableCheckboxColumn FieldName="@nameof(SysUser.IsUse)" Caption="启用？" ShowFilter="false"></DTableCheckboxColumn>
                        <DTableLookupColumn FieldName="@nameof(SysUser.OrgId)" Data="_Org" DisplayField="@nameof(SysOrg.OrgName)" ValueField="@nameof(SysOrg.OrgId)" Caption="所属部门"></DTableLookupColumn>
                    </ColumnContext>
                    <RowDetailContext>
                        <div>@((context as SysUser).UserName)</div>
                    </RowDetailContext>
                </DTable>
            </DLayoutCenter>
            <DLayoutRight Header="测试right" WidthP="10">
                <div><span><i class="fa fa-plus-circle fa-2x"></i></span></div>
            </DLayoutRight>
            <DLayoutDown Header="测试down" HeightP="20">
                <span>测试down</span>
            </DLayoutDown>
        </DLayout>
    </BodyContent>
</DPanel>

<DPanel Style="margin-top:10px;height:300px;">
    <HeaderContent>DFormLayout组件</HeaderContent>
    <BodyContent>
        <DFormLayout>
            <DFormLayoutItem Caption="测试6" ColSpan="6">
                <Template>
                    <DSpinEdit></DSpinEdit>
                </Template>
            </DFormLayoutItem>
            <DFormLayoutItem Caption="测试6" ColSpan="6">
                <Template>
                    <DLookupEdit Data="@_Org" DisplayField="@nameof(SysOrg.OrgName)" ValueField="@nameof(SysOrg.OrgId)"></DLookupEdit>
                </Template>
            </DFormLayoutItem>
            <DFormLayoutItem Caption="测试12" ColSpan="6">
                <Template>
                    <DSpinEdit></DSpinEdit>
                </Template>
            </DFormLayoutItem>
            <DFormLayoutItem Caption="测试6" ColSpan="6">
                <Template>
                    <DSpinEdit></DSpinEdit>
                </Template>
            </DFormLayoutItem>
            <DFormLayoutItem Caption="测试6" ColSpan="6">
                <Template>
                    <DSpinEdit></DSpinEdit>
                </Template>
            </DFormLayoutItem>
            <DFormLayoutItem Caption="测试6" ColSpan="6">
                <Template>
                    <DSpinEdit></DSpinEdit>
                </Template>
            </DFormLayoutItem>
        </DFormLayout>
    </BodyContent>
</DPanel>

<DPanel Style="margin-top:10px;height:300px;">
    <HeaderContent>DStepLayout组件</HeaderContent>
    <BodyContent>
        <DStepLayout>
            <DStepLayoutItem Title="步骤一" StepAction="@(async ()=> {
                                       return true;
                                   })">
                <DSpinEdit Width="200px"></DSpinEdit>
            </DStepLayoutItem>
            <DStepLayoutItem Title="步骤二" StepAction="@(async ()=> {
                                       return true;
                                   })">
                <DSpinEdit Width="200px"></DSpinEdit>
            </DStepLayoutItem>
            <DStepLayoutItem Title="步骤三" StepAction="@(async ()=> {
                                       return true;
                                   })">
                <span>步骤三内容</span>
            </DStepLayoutItem>
            <DStepLayoutItem Title="步骤四" StepAction="@(async ()=> {
                                       return true;
                                   })">
                <span>步骤四内容</span>
            </DStepLayoutItem>
        </DStepLayout>
    </BodyContent>
</DPanel>

<DPanel Style="margin-top:10px;height:300px;">
    <HeaderContent>DTab组件</HeaderContent>
    <BodyContent>
        <div style="width:600px;">
            <DTab>
                <DTabPanel IsClosable="true" Name="1" Title="tab1">
                    <span>tab1</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="2" Title="tab2">
                    <span>tab2</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="3" Title="tab3">
                    <span>tab3</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="4" Title="tab4">
                    <span>tab4</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="5" Title="tab5">
                    <span>tab5</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="6" Title="tab6">
                    <span>tab6</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="8" Title="tab8">
                    <span>tab8</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="9" Title="tab9">
                    <span>tab9</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="10" Title="tab10">
                    <span>tab10</span>
                </DTabPanel>
                <DTabPanel IsClosable="true" Name="11" Title="tab11">
                    <span>tab11</span>
                </DTabPanel>
            </DTab>
        </div>
    </BodyContent>
</DPanel>


@code{
    private List<WeatherForecast> weatherForecast = new List<WeatherForecast>();
    private WeatherForecast[] forecasts;
    private List<SysUser> _user;
    private List<SysOrg> _Org;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        _user = new List<SysUser>
{
            new SysUser
            {
                UserId=Guid.NewGuid().ToString(),
                LoginId="D1",
                UserName="张1",
                IsOnline="N",
                IsUse="Y",
                OrgId="o1",
                CreateDate=DateTime.Now
            },
            new SysUser
            {
                UserId=Guid.NewGuid().ToString(),
                LoginId="D2",
                UserName="张2",
                IsOnline="N",
                IsUse="Y",
                OrgId="o1",
                CreateDate=DateTime.Now
            },
            new SysUser
            {
                UserId=Guid.NewGuid().ToString(),
                LoginId="D3",
                UserName="张3",
                IsOnline="N",
                IsUse="Y",
                OrgId="o2",
                CreateDate=DateTime.Now
            },
            new SysUser
            {
                UserId=Guid.NewGuid().ToString(),
                LoginId="D4",
                UserName="张4",
                IsOnline="N",
                IsUse="Y",
                OrgId="o2",
                CreateDate=DateTime.Now
            }
        };

        _Org = new List<SysOrg>
{
            new SysOrg
            {
                OrgId="o1",
                OrgName="测试部门1"
            },
            new SysOrg
            {
                OrgId="o2",
                OrgName="测试部门2"
            }
        };
    }

}
