@namespace DComponent
<CascadingValue Value="_dLayout">
    @ChildContent
</CascadingValue>
<div class="w-100 h-100 @Class layout" id="@Id">
    @foreach ((string _, LayoutElement element) in _dLayout.LayoutElements)
    {
        var panelType = string.Empty;
        switch (element.ElementType)
        {
            case LayoutElementType.U:
                panelType = "layout-panel-up";
                break;
            case LayoutElementType.D:
                panelType = "layout-panel-down";
                break;
            case LayoutElementType.C:
                break;
            case LayoutElementType.L:
                panelType = "layout-panel-left";
                break;
            case LayoutElementType.R:
                panelType = "layout-panel-right";
                break;
        }
    <div class="layout-panel @panelType" style="width:@($"{element.WidthP}px;")height:@($"{element.HeightP}px;")left: @($"{element.Left}px;") top: @($"{element.Top}px;")">
        @if (!string.IsNullOrEmpty(element.Header))
            {
        <DPanel>
            <HeaderContent>
                @element.Header
            </HeaderContent>
            <BodyContent>
                @element.ElementContext
            </BodyContent>
        </DPanel>
            }
            else
            {
        <DPanel>
            <BodyContent>
                @element.ElementContext
            </BodyContent>
        </DPanel>
            }

    </div>
    }
</div>
