@namespace DComponent
    <div class="panel panel-fit" style="min-height:40px;@Style" id="@Id">
        @if (HeaderContent != null)
        {
            <div class="panel-header" id="@headerId">
                <div class="panel-title">@HeaderContent</div>
            </div>
        }
        @if (BodyContent != null)
        {
            <div class="panel-body @(FooterContent!=null?"panel-body-nobottom":"") @(HeaderContent==null?"panel-body-noheader":"")" style="@(height>0?$"height:{height}px;":"")">
                @BodyContent
            </div>
        }
        @if (FooterContent != null)
        {
            <div class="panel-footer" id="@footerId">
                @FooterContent
            </div>
        }
    </div>


