@namespace DComponent
<CascadingValue Value="@_dFormLayout">
    @ChildContent
</CascadingValue>
@if (_dFormLayout.LayoutElements.Count > 0)
{
    @if (!string.IsNullOrEmpty(Header))
    {
        <DPanel>
            <HeaderContent>
                @Header
            </HeaderContent>
            <BodyContent>
                <div class="form-inline formlayout">
                    <div class="row">
                        @foreach ((string id, FormLayoutItem item) in _dFormLayout.LayoutElements)
                        {
                            <div class="col-@(item.ColSpan)">
                                <div class="form-group">
                                    <label class="col-form-label">@($"{item.Caption}:")</label>
                                    <div>
                                        @item.Template
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </BodyContent>
        </DPanel>
        @*<div class="pt-1"></div>*@
    } 
    else
    {
        <DPanel>
            <BodyContent>
                <div class="form-inline formlayout">
                    <div class="row">
                        @foreach ((string id, FormLayoutItem item) in _dFormLayout.LayoutElements)
                        {
                            <div class="col-@(item.ColSpan)">
                                <div class="form-group">
                                    <div class="col-3">
                                        <label class="col-form-label">@($"{item.Caption}:")</label>
                                    </div>                                    
                                    <div class="col-9">
                                        @item.Template
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </BodyContent>
        </DPanel>
    }


}

